<h1>RESTAURANT SHOW PAGE</h1>

<h3>Restaurant details below:</h3>

<table>
  <tbody>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Category</th>
    </tr>

    <tr>
      <td><%= @restaurant.id%></td>
      <td><%= @restaurant.name%></td>
      <td><%= @restaurant.address%></td>
      <td><%= @restaurant.phone_number%></td>
      <td><%= @restaurant.category%></td>
      <td><%= @restaurant.category%></td>
    </tr>
  </tbody>
</table>

<p></p>

<table>
  <tbody>
    <tr>
      <th>Rating</th>
      <th>Content</th>
    </tr>

    <% @reviews.each do |review|%>
      <tr>
        <td><%= review.rating%></td>
        <td><%= review.content%></td>
      </tr>
    <% end %>
  </tbody>

</table>

<p></p>
<p></p>
<p></p>

<%= link_to "Restaurants list", restaurants_path, class: "btn btn-primary" %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
